aws_region_name=us-east-1
aws_access_key_id=ASIAZXASC4IPALMAY7QE
aws_secret_access_key=vR1ia0KTmRbWUWLQEMDgBm2kY7sG2A8CUjf63DMZ
aws_session_token=FwoGZXIvYXdzEJz//////////wEaDMfL3rjg5PCopS0NASLOAY4Ibo9y/+fsuBt5M7IQoCgQbtVKEQDwWr84rTI0Ecrpp6uLUI7TIGJtWs9PuaypJRwTW09cl4fIVg4SzeQLSCrkLEVY6UXXOl9reIlzJ51JWZiiH0IJsHABijDTK2R/xa1ZbbMQ8On33eHOn/fZvWNLzK+fbmmPm2GirhkHn29h9/MetY/DDjyo95PTAXo5mg+/S18c1tkPOmI2YYljHlLZQEbd3mDp9s09Hc7Lpx746Sc/XoEJJG5GYwlC7mNwCkOVbXj8WkhJBIYAfLdiKIWVkqEGMi0gze2A1kmv2QGb9Fsz/WVqatLB1V/ISoVJOFNwhQTG/ZgqxoQ39Te/ekWUxl4=